body {
    background-color: whitesmoke;
}

header[role=banner] {
    background-color: lightgray;
}

.full-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.main-content {
    width: 70%;
    padding: 3ex;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
}

.side-content {
    width: 23%;
    height: fit-content;
    border-radius: 10px 10px 10px 10px;
    justify-content: flex-start;
}

@media screen and(max-width: 900px) {
    .full-content {
        max-width: 100%;
        display: block;
    }
    
    .main-content {
        box-sizing:border-box;
        border-radius: 10px 10px 10px 10px;
        width: 100%;
    }
    
    .side-content {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px 10px 10px 10px;
        // 重なるのをどうにかする
        position: relative;
        z-index: -10;
        top: -0.1em;
    }
}