.full-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}

.my-content {
    width: 70%;
}

.my-side {
    width: 27%;
    height: fit-content;
    justify-content: flex-start;
}

@media screen and(max-width: 900px) {
    .full-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
    
    }
    
    .my-content {
        width: 100%;
    }
    
    .my-side {
        display: none;
    }
}