<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include prism.html -%}
  {%- include head.html -%}
  {%- include mathjax-v3.html -%}

  <body class="line-numbers match-braces diff-highlight">

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <div class="full-content">
          <div class="toc side-content">
            {% include toc.html html=content %}
          </div>
          <div class="main-content">
          {{ content }}
          </div>
        </div>
        </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>